<h2>Dashboard</h2>

<p>
	Current list of subscriptions: <span id="subscriptions">{{user.subscriptions}}</span>
</p>

<form id="searchForm">
	Add new subscription:
	<input type="search" id="search" placeholder="Subredit"> <input type="submit" value="Search">
</form>

<div id="results"></div>

<script src="/js/app.js"></script>