<h1>Login</h1>

<p>
	DailyReddit is a simple site that will send you a daily email of new posts from Reddits you're interested in. Note - this site is in no way tied to your actual Reddit login so you can pick any choose <i>any</i> particular subreddit for your subscriptions.
</p>

{{#if message}}
	message={{message}}
{{/if}}

<p>
<a href="/auth/twitter">Authenticate with Twitter</a>
</p>



